In [1]:
import pandas as pd
import numpy as np
import re

df=[]
files=np.arange(1,11)

for file in files:
    data=pd.read_csv('joblist221113_'+str(file)+'.csv')
    #Store DataFrame in list
    df.append(data)
df=pd.concat(df)

df.shape

(232, 5)

In [2]:
# Split text and eliminate special characters
df['jp']=df['Job Position'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df['jp']=df['jp'].map(lambda x: re.sub(r'\W+',' ',x))
df['loc']=df['Location'].apply(lambda x: " ".join(x.lower() for x in x.split()))
#df['loc']=df['Location'].map(lambda x: re.sub(r'\W+',' ',x))
#df['loc']=df['Location'].map(lambda x: re.sub('switzerland',' ',x))
df['company']=df['Company Name'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df['company']=df['company'].map(lambda x: re.sub(r'\W+',' ',x))

df.head()

,Unnamed: 0,Company Name,Job Position,Location,Link,jp,loc,company
0,0,Lonza,Global Master Data Business Analyst (w/m/d),"Visp, Valais, Switzerland (On-site)",https://www.linkedin.com/jobs/view/3245386852/...,global master data business analyst w m d,"visp, valais, switzerland (on-site)",lonza
1,1,Agoda,"Senior Data Analyst (Bangkok Based, relocation...","Zurich, Zurich, Switzerland",https://www.linkedin.com/jobs/view/3342554707/...,senior data analyst bangkok based relocation p...,"zurich, zurich, switzerland",agoda
2,2,Sigma Suisse - Manufacture de talents,Data Analyst (H/F),"Geneva, Switzerland (On-site)",https://www.linkedin.com/jobs/view/3312931744/...,data analyst h f,"geneva, switzerland (on-site)",sigma suisse manufacture de talents
3,3,UBS,Data Analyst,"Schaffhausen, Schaffhausen, Switzerland (On-site)",https://www.linkedin.com/jobs/view/3347695045/...,data analyst,"schaffhausen, schaffhausen, switzerland (on-site)",ubs
4,4,Swiss International Air Lines,"Data Analyst (80-100%, all genders)","Kloten, Zurich, Switzerland",https://www.linkedin.com/jobs/view/3341160822/...,data analyst 80 100 all genders,"kloten, zurich, switzerland",swiss international air lines

In [4]:
#Rewiew word frequency in loc
freq = pd.Series(' '.join(df['loc']).split()).value_counts()[:10]
print(freq)

switzerland    225
zurich,        112
(on-site)      106
(hybrid)        55
geneva,         52
basel,          42
(remote)        26
zug,            17
berne,          16
vaud,           13
dtype: int64

In [5]:
#Flags for filtering

df['analyst'] = df['jp'].apply(lambda x: 1 if 'analyst' in x else 0)
df['software']= df['jp'].apply(lambda x: 1 if 'software' in x else 0)
df['developer']= df['jp'].apply(lambda x: 1 if 'developer' in x else 0)
df['engineer']= df['jp'].apply(lambda x: 1 if 'engineer' in x else 0)
df['freelance']= df['jp'].apply(lambda x: 1 if 'freelance' in x else 0)
df['remote']= df['jp'].apply(lambda x: 1 if 'remote' in x else 0)
df['DA']= df['jp'].apply(lambda x: 1 if 'data analyst' in x else 0)    #important flag
df['DS']= df['jp'].apply(lambda x: 1 if 'data scientist' in x else 0)
df['ML']= df['jp'].apply(lambda x: 1 if 'machine learning' in x else 0)
df['BI']= df['jp'].apply(lambda x: 1 if 'business intelligence' in x else 0)
df['DE']= df['jp'].apply(lambda x: 1 if 'data engineer' in x else 0)
df['senior']= df['jp'].apply(lambda x: 1 if 'senior' in x else 0)
df['junior']= df['jp'].apply(lambda x: 1 if 'junior' in x else 0)
df['bigdata']= df['jp'].apply(lambda x: 1 if 'big data' in x else 0)
df['powerbi']= df['jp'].apply(lambda x: 1 if 'power bi' in x else 0)
df['tableau']= df['jp'].apply(lambda x: 1 if 'tableau' in x else 0)
df['qlik']= df['jp'].apply(lambda x: 1 if 'qlik' in x else 0)
df['sql']= df['jp'].apply(lambda x: 1 if 'sql' in x else 0)
df['python']= df['jp'].apply(lambda x: 1 if 'python' in x else 0)   #important flag
df['consultant']= df['jp'].apply(lambda x: 1 if 'consultant' in x else 0)
df['statistical']= df['jp'].apply(lambda x: 1 if 'statistical' in x else 0)
# id_job to identify job offer
df['id_job'] = df['Link'].str[34:90]
df['id_job'] = df['id_job'].str[1:11]
df['id_job']
df.shape

(232, 30)

In [6]:
# Drop duplicates
df = df.drop_duplicates(subset = ['id_job'])
df.shape

(228, 30)

In [7]:
# Filtering data with query on DA flag
data2=df.query("DA == 1")
# Discard job offers from AGODA
data2=data2.query("company != 'agoda'")
# Only in Zurich
data2=data2[data2['loc'].str.lower().str.contains("zurich")]

data2.shape

(19, 30)

In [8]:
data3=data2[{'Link','company','jp','loc'}]
data3.head()

C:\Users\leant\AppData\Local\Temp\ipykernel_11868\47905228.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  data3=data2[{'Link','company','jp','loc'}]

,company,jp,Link,loc
4,swiss international air lines,data analyst 80 100 all genders,https://www.linkedin.com/jobs/view/3341160822/...,"kloten, zurich, switzerland"
11,ubs,data analyst,https://www.linkedin.com/jobs/view/3355911801/...,"zurich, zurich, switzerland (on-site)"
12,telus international,online data analyst,https://www.linkedin.com/jobs/view/3356138955/...,"zurich, switzerland (remote)"
19,randstad switzerland,data analyst,https://www.linkedin.com/jobs/view/3341559697/...,"zurich, switzerland (hybrid)"
2,sanitas krankenversicherung,data analyst versicherungstechnik w m d 80 100...,https://www.linkedin.com/jobs/view/3349813246/...,"zurich, zurich, switzerland (on-site)"

In [9]:
data3.to_csv("joblist221113_listcsv.csv")