In [1]:
import pandas as pd
import numpy as np
import re

df=[]
files=np.arange(1,11)

for file in files:
    data=pd.read_csv('joblist221113_'+str(file)+'.csv')
    #Store DataFrame in list
    df.append(data)
df=pd.concat(df)

df.shape

(250, 5)

In [2]:
#Name of columns
df.columns

Index(['Unnamed: 0', 'Company Name', 'Job Position', 'Location', 'Link'], dtype='object')

In [3]:
df.head()

,Unnamed: 0,Company Name,Job Position,Location,Link
0,0,Lonza,Global Master Data Business Analyst (w/m/d),"Visp, Valais, Switzerland (On-site)",https://www.linkedin.com/jobs/view/3245386852/...
1,1,Agoda,"Senior Data Analyst (Bangkok Based, relocation...","Zurich, Zurich, Switzerland",https://www.linkedin.com/jobs/view/3342554707/...
2,2,Sigma Suisse - Manufacture de talents,Data Analyst (H/F),"Geneva, Switzerland (On-site)",https://www.linkedin.com/jobs/view/3312931744/...
3,3,UBS,Data Analyst,"Schaffhausen, Schaffhausen, Switzerland (On-site)",https://www.linkedin.com/jobs/view/3347695045/...
4,4,Swiss International Air Lines,"Data Analyst (80-100%, all genders)","Kloten, Zurich, Switzerland",https://www.linkedin.com/jobs/view/3341160822/...

In [35]:
# Split text and eliminate special characters
df['jp']=df['Job Position'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df['jp']=df['jp'].map(lambda x: re.sub(r'\W+',' ',x))
df['loc']=df['Location'].apply(lambda x: " ".join(x.lower() for x in x.split()))
#df['loc']=df['Location'].map(lambda x: re.sub(r'\W+',' ',x))

#df['loc']=df['Location'].map(lambda x: re.sub('switzerland',' ',x))

df['company']=df['Company Name'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df['company']=df['company'].map(lambda x: re.sub(r'\W+',' ',x))

In [36]:
df.head()

,Unnamed: 0,Company Name,Job Position,Location,Link,jp,loc,company,zurich,geneva,...,junior,bigdata,powerbi,tableau,qlik,sql,python,consultant,statistical,id_job
0,0,Lonza,Global Master Data Business Analyst (w/m/d),"Visp, Valais, Switzerland (On-site)",https://www.linkedin.com/jobs/view/3245386852/...,global master data business analyst w m d,"visp, valais, switzerland (on-site)",lonza,0,0,...,0,0,0,0,0,0,0,0,0,3245386852
1,1,Agoda,"Senior Data Analyst (Bangkok Based, relocation...","Zurich, Zurich, Switzerland",https://www.linkedin.com/jobs/view/3342554707/...,senior data analyst bangkok based relocation p...,"zurich, zurich, switzerland",agoda,1,0,...,0,0,0,0,0,0,0,0,0,3342554707
2,2,Sigma Suisse - Manufacture de talents,Data Analyst (H/F),"Geneva, Switzerland (On-site)",https://www.linkedin.com/jobs/view/3312931744/...,data analyst h f,"geneva, switzerland (on-site)",sigma suisse manufacture de talents,0,1,...,0,0,0,0,0,0,0,0,0,3312931744
3,3,UBS,Data Analyst,"Schaffhausen, Schaffhausen, Switzerland (On-site)",https://www.linkedin.com/jobs/view/3347695045/...,data analyst,"schaffhausen, schaffhausen, switzerland (on-site)",ubs,0,0,...,0,0,0,0,0,0,0,0,0,3347695045
4,4,Swiss International Air Lines,"Data Analyst (80-100%, all genders)","Kloten, Zurich, Switzerland",https://www.linkedin.com/jobs/view/3341160822/...,data analyst 80 100 all genders,"kloten, zurich, switzerland",swiss international air lines,1,0,...,0,0,0,0,0,0,0,0,0,3341160822

In [37]:
#Rewiew word frequency
freq = pd.Series(' '.join(df['loc']).split()).value_counts()[:30]
print(freq)

switzerland      239
zurich,          124
(on-site)        113
(hybrid)          57
geneva,           56
basel,            44
(remote)          28
zug,              21
berne,            17
vaud,             12
bern,             11
ticino,           10
valais,            9
aargau,            9
lucerne,           8
lausanne,          7
schaffhausen,      7
gallen,            5
st                 5
neuchâtel,         5
zurich             4
schwyz,            4
greater            4
chiasso,           4
area               4
visp,              4
kaiseraugst,       4
fribourg,          4
meyrin,            4
lugano,            3
dtype: int64

In [38]:
#Flags for filtering

df['analyst'] = df['jp'].apply(lambda x: 1 if 'analyst' in x else 0)
df['software']= df['jp'].apply(lambda x: 1 if 'software' in x else 0)
df['developer']= df['jp'].apply(lambda x: 1 if 'developer' in x else 0)
df['engineer']= df['jp'].apply(lambda x: 1 if 'engineer' in x else 0)
df['freelance']= df['jp'].apply(lambda x: 1 if 'freelance' in x else 0)
df['remote']= df['jp'].apply(lambda x: 1 if 'remote' in x else 0)
df['DA']= df['jp'].apply(lambda x: 1 if 'data analyst' in x else 0)    #important flag
df['DS']= df['jp'].apply(lambda x: 1 if 'data scientist' in x else 0)
df['ML']= df['jp'].apply(lambda x: 1 if 'machine learning' in x else 0)
df['BI']= df['jp'].apply(lambda x: 1 if 'business intelligence' in x else 0)
df['DE']= df['jp'].apply(lambda x: 1 if 'data engineer' in x else 0)
df['senior']= df['jp'].apply(lambda x: 1 if 'senior' in x else 0)
df['junior']= df['jp'].apply(lambda x: 1 if 'junior' in x else 0)
df['bigdata']= df['jp'].apply(lambda x: 1 if 'big data' in x else 0)
df['powerbi']= df['jp'].apply(lambda x: 1 if 'power bi' in x else 0)
df['tableau']= df['jp'].apply(lambda x: 1 if 'tableau' in x else 0)
df['qlik']= df['jp'].apply(lambda x: 1 if 'qlik' in x else 0)
df['sql']= df['jp'].apply(lambda x: 1 if 'sql' in x else 0)
df['python']= df['jp'].apply(lambda x: 1 if 'python' in x else 0)   #important flag
df['consultant']= df['jp'].apply(lambda x: 1 if 'consultant' in x else 0)
df['statistical']= df['jp'].apply(lambda x: 1 if 'statistical' in x else 0)
# id_job to identify job offer
df['id_job'] = df['Link'].str[34:60]
df['id_job'] = df['id_job'].str[1:11]
df['id_job']
df.shape

(246, 36)

In [39]:
# Drop duplicates
df = df.drop_duplicates(subset = ['id_job'])
df.shape

(246, 36)

In [44]:
# Filtering data with query on DA flag
data2=df.query("DA == 1")
# Discard job offers from AGODA
data2=data2.query("company != 'agoda'")
# Only in Zurich
data2=data2[data2['loc'].str.lower().str.contains("zurich")]

data2.shape

(19, 36)

In [45]:
data=df[{'Link','company','jp','loc'}]

C:\Users\leant\AppData\Local\Temp\ipykernel_4012\3233933789.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  data=df[{'Link','company','jp','loc'}]

In [46]:
data2.head()

,Unnamed: 0,Company Name,Job Position,Location,Link,jp,loc,company,zurich,geneva,...,junior,bigdata,powerbi,tableau,qlik,sql,python,consultant,statistical,id_job
4,4,Swiss International Air Lines,"Data Analyst (80-100%, all genders)","Kloten, Zurich, Switzerland",https://www.linkedin.com/jobs/view/3341160822/...,data analyst 80 100 all genders,"kloten, zurich, switzerland",swiss international air lines,1,0,...,0,0,0,0,0,0,0,0,0,3341160822
11,11,UBS,Data Analyst,"Zurich, Zurich, Switzerland (On-site)",https://www.linkedin.com/jobs/view/3355911801/...,data analyst,"zurich, zurich, switzerland (on-site)",ubs,1,0,...,0,0,0,0,0,0,0,0,0,3355911801
12,12,TELUS International,Online Data Analyst,"Zurich, Switzerland (Remote)",https://www.linkedin.com/jobs/view/3356138955/...,online data analyst,"zurich, switzerland (remote)",telus international,1,0,...,0,0,0,0,0,0,0,0,0,3356138955
19,19,Randstad Switzerland,Data Analyst,"Zurich, Switzerland (Hybrid)",https://www.linkedin.com/jobs/view/3341559697/...,data analyst,"zurich, switzerland (hybrid)",randstad switzerland,1,0,...,0,0,0,0,0,0,0,0,0,3341559697
2,2,Sanitas Krankenversicherung,"Data Analyst Versicherungstechnik (w/m/d), 80-...","Zurich, Zurich, Switzerland (On-site)",https://www.linkedin.com/jobs/view/3349813246/...,data analyst versicherungstechnik w m d 80 100...,"zurich, zurich, switzerland (on-site)",sanitas krankenversicherung,1,0,...,0,0,0,0,0,0,0,0,0,3349813246

In [47]:
data2.to_csv("joblist221113_listcsv.csv")

In [ ]:
#from sqlalchemy import create_engine

#Genera conexion a la base de datos
#engine = create_engine('postgresql://postgres:l1u9i7s8@localhost:5432/sandbox')
#df.to_sql('scrap_linkedin_1', engine)