In [1]:
import pandas as pd
import numpy as np
import re

df=[]
files=np.arange(1,40)

for file in files:
    data=pd.read_csv('scraptest'+str(file)+'.csv')
    #Store DataFrame in list
    df.append(data)
df=pd.concat(df)

df.shape

(944, 5)

In [2]:
# Split text and eliminate special characters
df['jp']=df['Job Position'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df['jp']=df['jp'].map(lambda x: re.sub(r'\W+',' ',x))
df['loc']=df['Location'].map(lambda x: re.sub(r'\W+',' ',x))
df['loc']=df['loc'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df['loc']=df['loc'].map(lambda x: re.sub(r'switzerland','',x))
df['loc']=df['loc'].map(lambda x: re.sub(r'on','',x))
df['loc']=df['loc'].map(lambda x: re.sub(r'site','',x))
df['loc']=df['loc'].map(lambda x: re.sub(r'remote','',x))
df['loc']=df['loc'].map(lambda x: re.sub(r'hybrid','',x))
df['jp']=df['jp'].map(lambda x: re.sub(r' m ','',x))
df['jp']=df['jp'].map(lambda x: re.sub(r' d ','',x))
df['jp']=df['jp'].map(lambda x: re.sub(r' 100 ',' ',x))
df['jp']=df['jp'].map(lambda x: re.sub(r' 80 ','',x))
df['company']=df['Company Name'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df['company']=df['company'].map(lambda x: re.sub(r'\W+',' ',x))
df.head()

,Unnamed: 0,Company Name,Job Position,Location,Link,jp,loc,company
0,0,Agoda,"Senior Data Analyst (Bangkok Based, relocation...","Basel, Basel, Switzerland",https://www.linkedin.com/jobs/view/3342556595/...,senior data analyst bangkok based relocation p...,basel basel,agoda
1,1,Randstad Switzerland,Quality Control Qualification and Validation S...,"Bern, Berne, Switzerland (On-site)",https://www.linkedin.com/jobs/view/3359153954/...,quality control qualification and validation s...,bern berne,randstad switzerland
2,2,Amoria Bond,Business Intelligence Analyst,"Zurich, Switzerland (Hybrid)",https://www.linkedin.com/jobs/view/3329550341/...,business intelligence analyst,zurich,amoria bond
3,3,Etat de Fribourg - Staat Freiburg,Data Analyst Amt für Statistik,"Fribourg, Fribourg, Switzerland (Hybrid)",https://www.linkedin.com/jobs/view/3349970930/...,data analyst amt für statistik,fribourg fribourg,etat de fribourg staat freiburg
4,4,Rieter,Data Analyst,"Winterthur, Zurich, Switzerland (On-site)",https://www.linkedin.com/jobs/view/3353715301/...,data analyst,winterthur zurich,rieter

In [5]:
#Rewiew word frequency in loc
freq = pd.Series(' '.join(df['loc']).split()).value_counts()[:10]
print(freq)

zurich    566
geneva    170
basel     143
berne      90
zug        78
aargau     53
bern       47
gallen     42
st         37
vaud       35
dtype: int64

In [6]:
#Flags for filtering

df['analyst'] = df['jp'].apply(lambda x: 1 if 'analyst' in x else 0)
df['software']= df['jp'].apply(lambda x: 1 if 'software' in x else 0)
df['developer']= df['jp'].apply(lambda x: 1 if 'developer' in x else 0)
df['engineer']= df['jp'].apply(lambda x: 1 if 'engineer' in x else 0)
df['freelance']= df['jp'].apply(lambda x: 1 if 'freelance' in x else 0)
df['remote']= df['Job Position'].apply(lambda x: 1 if 'remote' in x else 0)
df['DA']= df['jp'].apply(lambda x: 1 if 'data analyst' in x else 0)    #important flag
df['DS']= df['jp'].apply(lambda x: 1 if 'data scientist' in x else 0)
df['ML']= df['jp'].apply(lambda x: 1 if 'machine learning' in x else 0)
df['BI']= df['jp'].apply(lambda x: 1 if 'business intelligence' in x else 0)
df['DE']= df['jp'].apply(lambda x: 1 if 'data engineer' in x else 0)
df['senior']= df['jp'].apply(lambda x: 1 if 'senior' in x else 0)
df['junior']= df['jp'].apply(lambda x: 1 if 'junior' in x else 0)
df['bigdata']= df['jp'].apply(lambda x: 1 if 'big data' in x else 0)
df['powerbi']= df['jp'].apply(lambda x: 1 if 'power bi' in x else 0)
df['tableau']= df['jp'].apply(lambda x: 1 if 'tableau' in x else 0)
df['qlik']= df['jp'].apply(lambda x: 1 if 'qlik' in x else 0)
df['sql']= df['jp'].apply(lambda x: 1 if 'sql' in x else 0)
df['python']= df['jp'].apply(lambda x: 1 if 'python' in x else 0)   #important flag
df['consultant']= df['jp'].apply(lambda x: 1 if 'consultant' in x else 0)
df['statistical']= df['jp'].apply(lambda x: 1 if 'statistical' in x else 0)
# id_job to identify job offer
df['id_job'] = df['Link'].str[34:44]
df['id_job'] = df['id_job'].str[1:11]
df['id_job']
df.shape

(944, 30)

In [7]:
# Drop duplicates
df = df.drop_duplicates(subset = ['id_job'])
df.shape

(898, 30)

In [8]:
# Filtering data with query on DA flag
data2=df.query("analyst == 1")
# Discard job offers from AGODA
data2=data2.query("company != 'agoda'")
# Only in Zurich
#data2=data2[data2['loc'].str.lower().str.contains("zurich")]

data2.shape

(245, 30)

In [9]:
data3=data2[{'Link','company','jp','loc'}]
data3

C:\Users\leant\AppData\Local\Temp\ipykernel_10004\348453888.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  data3=data2[{'Link','company','jp','loc'}]

,Link,jp,company,loc
2,https://www.linkedin.com/jobs/view/3329550341/...,business intelligence analyst,amoria bond,zurich
3,https://www.linkedin.com/jobs/view/3349970930/...,data analyst amt für statistik,etat de fribourg staat freiburg,fribourg fribourg
4,https://www.linkedin.com/jobs/view/3353715301/...,data analyst,rieter,winterthur zurich
5,https://www.linkedin.com/jobs/view/3360347947/...,data analyst supply operations ngof,hays,geneva geneva
7,https://www.linkedin.com/jobs/view/3327319411/...,bi business analyst,jobs via efinancialcareers,geneva geneva
...,...,...,...,...
3,https://www.linkedin.com/jobs/view/3354256835/...,qc analyst microbiologyf,k recruiting life sciences,stein aargau
4,https://www.linkedin.com/jobs/view/3332772225/...,business analyst it,modis,lucerne lucerne
6,https://www.linkedin.com/jobs/view/3358535943/...,business analyst für projekt v a infrastruktur,experis switzerland,zurich zurich
10,https://www.linkedin.com/jobs/view/3333508409/...,business analyst,akkodis,greater zurich area
15,https://www.linkedin.com/jobs/view/3327999273/...,data engineer analyst fd basel or norway,afry,basel basel

In [ ]:
data3.to_csv("joblist221117_listcsv.csv")