In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

import re
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
import time

credentials=pd.read_csv('credentials.txt') #For security reasons
df=pd.read_csv('joblist221113_listcsv.csv')
df.columns

browser=webdriver.Chrome("chromedriver.exe")
browser.get("https://www.linkedin.com")

username=browser.find_element_by_id("session_key")
username.send_keys(credentials['email'])
password=browser.find_element_by_id("session_password")
password.send_keys(credentials['password'])

login_buttom=browser.find_element_by_class_name("sign-in-form__submit-button")
login_buttom.click()

list_urls=df['Link']

In [2]:
i=0
idjob=[]
job_title=[]
company=[]
location=[]
job_description=[]
place=[]
timepub=[]
for url in list_urls:
    i+=1
    description=[]
    browser.get(url)
    print('------------------> url #', i)
    try:
        title=browser.find_element_by_css_selector('h1.t-24.t-bold').text
        #print(title)
        firma=browser.find_element_by_css_selector('a.ember-view.t-black.t-normal').text
        #print(firma)
        location=browser.find_element_by_css_selector('span.jobs-unified-top-card__bullet').text
        #print(location)        
        timeposted=browser.find_element_by_css_selector('span.jobs-unified-top-card__posted-date').text
        #print(timeposted)
        text_html=browser.find_elements_by_css_selector('div.jobs-unified-description__content')
        for j in text_html:
            #print(j.get_attribute("innerHTML"))
            description.append(j.get_attribute("innerHTML"))
        job_description.append(description)
        job_title.append(title)
        company.append(firma)
        place.append(location)
        timepub.append(timeposted)
        idjob.append(url)
        #print(job_description)
    except NoSuchElementException:
        title='N/A'
        firma='N/A'
        location='N/A'
        timeposted='N/A'
        text_html='N/A'
        
print(len(job_title),len(company),len(job_description),len(idjob))

------------------> url # 1
------------------> url # 2
------------------> url # 3
------------------> url # 4
------------------> url # 5
------------------> url # 6
------------------> url # 7
------------------> url # 8
------------------> url # 9
------------------> url # 10
------------------> url # 11
------------------> url # 12
------------------> url # 13
------------------> url # 14
------------------> url # 15
------------------> url # 16
------------------> url # 17
------------------> url # 18
------------------> url # 19
10 10 10 10

In [3]:

dataset=pd.DataFrame({"Job Title":job_title,"Company":company,"Location":place,"Timepub":timepub,"Job Details":job_description,"idjob":idjob})

In [4]:
dataset.to_csv("alljobs_scrappedprogramtest.csv")

In [5]:
dataset.shape

(10, 6)

In [6]:
dataset.head()

,Job Title,Company,Location,Timepub,Job Details,idjob
0,"Data Analyst (80-100%, all genders)",Swiss International Air Lines,"Kloten, Zurich, Switzerland",1 week ago,"[\n <h2 class=""jobs-unified-description__co...",https://www.linkedin.com/jobs/view/3341160822/...
1,Data Analyst,UBS,"Zurich, Zurich, Switzerland",2 days ago,"[\n <h2 class=""jobs-unified-description__co...",https://www.linkedin.com/jobs/view/3355911801/...
2,Online Data Analyst,TELUS International,"Zurich, Switzerland",2 days ago,"[\n <h2 class=""jobs-unified-description__co...",https://www.linkedin.com/jobs/view/3356138955/...
3,Data Analyst,Randstad Switzerland,"Zurich, Switzerland",1 week ago,"[\n <h2 class=""jobs-unified-description__co...",https://www.linkedin.com/jobs/view/3341559697/...
4,"Data Analyst Versicherungstechnik (w/m/d), 80-...",Sanitas Krankenversicherung,"Zurich, Zurich, Switzerland",3 days ago,"[\n <h2 class=""jobs-unified-description__co...",https://www.linkedin.com/jobs/view/3349813246/...