In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

df=pd.read_csv('alljobs_scrappedprogramtest.csv')
#df.shape

#Genera conexion a la base de datos
#engine = create_engine('postgresql://postgres:l1u9i7s8@localhost:5432/sandbox')
#df.to_sql('lds_data_dataanalyst_ch_scrapped', engine)

df['iwc']=df['Job Details'].apply(lambda x: len(str(x).split(" ")))      #Initial Word Count
df['inc']=df['Job Details'].str.len()                                    #Initial Number of Character
df['num'] = df['Job Details'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))

### Preprocesamiento

In [2]:
# Todo a minusculas
df['jd']=df['Job Details'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [3]:
#Removing special char
import re
df['jd1']=df['jd'].map(lambda x: re.sub(r'\W+',' ',x))

In [4]:
pd.set_option('display.max_rows', None)
# Palabras frecuentes
freq = pd.Series(' '.join(df['jd1']).split()).value_counts()[:50]
print(freq)

n             295
li            288
and           221
br            218
p             156
to            143
the           140
strong        119
data          105
in             87
of             84
a              82
with           60
you            53
ul             48
for            45
our            44
we             39
business       36
an             36
experience     36
be             32
your           30
t              30
team           29
is             27
or             26
will           26
skills         26
as             24
work           24
are            23
jobs           22
div            20
s              20
h2             20
class          20
i              20
at             18
about          18
us             17
und            16
that           16
teams          16
e              16
job            16
analytics      16
g              15
support        15
have           15
dtype: int64

In [5]:
df['jd1']=df['jd1'].str.replace(' ul ',' ') #Removing words

In [6]:
#Creacion de flags para aleman

df['und']=df['jd1'].apply(lambda x: 1 if ' und ' in x else 0)
df['der']=df['jd1'].apply(lambda x: 1 if ' der ' in x else 0)
df['die']=df['jd1'].apply(lambda x: 1 if ' die ' in x else 0)
df['mit']=df['jd1'].apply(lambda x: 1 if ' mit ' in x else 0)
df['von']=df['jd1'].apply(lambda x: 1 if ' von ' in x else 0)
df['für']=df['jd1'].apply(lambda x: 1 if ' für ' in x else 0)
df['wir']=df['jd1'].apply(lambda x: 1 if ' wir ' in x else 0)
df['sum_de']=df['und']+df['der']+df['die']+df['mit']+df['von']+df['für']+df['wir']
df['flg_DEUTSCH']=df['sum_de'].apply(lambda x: 1 if x > 4 else 0)

In [7]:
pd.set_option('display.max_rows', None)
# Palabras frecuentes
freq = pd.Series(' '.join(df['jd1']).split()).value_counts()[:20]
print(freq)

n             295
li            288
and           221
br            218
p             156
to            143
the           140
strong        119
data          105
in             87
of             84
a              82
with           60
you            53
for            45
our            44
we             39
business       36
an             36
experience     36
dtype: int64

In [8]:

df['f_python'] = df['jd1'].apply(lambda x: 1 if 'python' in x else 0)
df['f_r'] = df['jd1'].apply(lambda x: 1 if ' r ' in x else 0)
df['f_java'] = df['jd1'].apply(lambda x: 1 if ' java ' in x else 0)
df['f_javascript'] = df['jd1'].apply(lambda x: 1 if ' javascript ' in x else 0)
df['f_bigdata'] = df['jd1'].apply(lambda x: 1 if 'big data' in x else 0)
df['f_pandas'] = df['jd1'].apply(lambda x: 1 if 'pandas' in x else 0)
df['f_ml'] = df['jd1'].apply(lambda x: 1 if 'machine learning' in x else 0)
df['f_ml1'] = df['jd1'].apply(lambda x: 1 if ' ml ' in x else 0)
df['f_dl'] = df['jd1'].apply(lambda x: 1 if 'deep learning' in x else 0)

df['f_algorithms'] = df['jd1'].apply(lambda x: 1 if 'algorithms' in x else 0)
df['f_engineer'] = df['jd1'].apply(lambda x: 1 if 'engineer' in x else 0)
df['f_scala'] = df['jd1'].apply(lambda x: 1 if ' scala ' in x else 0)
df['f_tableau'] = df['jd1'].apply(lambda x: 1 if 'tableau' in x else 0)
df['f_qlik'] = df['jd1'].apply(lambda x: 1 if 'qlik' in x else 0)
df['f_cloud'] = df['jd1'].apply(lambda x: 1 if 'cloud' in x else 0)
df['f_twitter'] = df['jd1'].apply(lambda x: 1 if 'twitter' in x else 0)
df['f_sql'] = df['jd1'].apply(lambda x: 1 if 'sql' in x else 0)
df['f_mathematics'] = df['jd1'].apply(lambda x: 1 if 'mathemati' in x else 0)
df['f_pipelines'] = df['jd1'].apply(lambda x: 1 if 'pipelines' in x else 0)
df['f_zurich'] = df['jd1'].apply(lambda x: 1 if 'zurich' in x else 0)
df['f_geneva'] = df['jd1'].apply(lambda x: 1 if 'geneva' in x else 0)
df['f_clinical'] = df['jd1'].apply(lambda x: 1 if 'clinical' in x else 0)
df['f_salesforce'] = df['jd1'].apply(lambda x: 1 if 'salesforce' in x else 0)
df['f_english'] = df['jd1'].apply(lambda x: 1 if 'englis' in x else 0)
df['f_deutsch'] = df['jd1'].apply(lambda x: 1 if 'deutsch' in x else 0)
df['f_german'] = df['jd1'].apply(lambda x: 1 if 'german' in x else 0)
df['f_google'] = df['jd1'].apply(lambda x: 1 if 'google' in x else 0)
df['f_programming'] = df['jd1'].apply(lambda x: 1 if 'develop' in x else 0)
df['f_entwickeln'] = df['jd1'].apply(lambda x: 1 if 'entwickeln' in x else 0)

df['f_developer'] = df['jd1'].apply(lambda x: 1 if 'programming' in x else 0)
df['f_finance'] = df['jd1'].apply(lambda x: 1 if 'finance' in x else 0)
df['f_fraud'] = df['jd1'].apply(lambda x: 1 if 'fraud' in x else 0)

df['f_credit'] = df['jd1'].apply(lambda x: 1 if 'credit' in x else 0)
df['f_bank'] = df['jd1'].apply(lambda x: 1 if 'bank' in x else 0)
df['f_dashboards'] = df['jd1'].apply(lambda x: 1 if 'dashboard' in x else 0)
df['f_excel'] = df['jd1'].apply(lambda x: 1 if 'powerpoint' in x else 0)
df['f_powerpoint'] = df['jd1'].apply(lambda x: 1 if 'excel' in x else 0)
df['f_agile'] = df['jd1'].apply(lambda x: 1 if 'agile' in x else 0)
df['f_database'] = df['jd1'].apply(lambda x: 1 if 'database' in x else 0)
df['f_statistic'] = df['jd1'].apply(lambda x: 1 if 'statisti' in x else 0)
df['f_visualization'] = df['jd1'].apply(lambda x: 1 if 'visualization' in x else 0)
df['f_bachelor'] = df['jd1'].apply(lambda x: 1 if 'bachelor' in x else 0)
df['f_businessintelligence'] = df['jd1'].apply(lambda x: 1 if 'business intelligence' in x else 0)
df['f_insight'] = df['jd1'].apply(lambda x: 1 if 'insight' in x else 0)
df['f_modeling'] = df['jd1'].apply(lambda x: 1 if 'modeling' in x else 0)
df['f_sas'] = df['jd1'].apply(lambda x: 1 if 'sas' in x else 0)
df['f_hadoop'] = df['jd1'].apply(lambda x: 1 if 'hadoop' in x else 0)
df['f_hive'] = df['jd1'].apply(lambda x: 1 if 'hive' in x else 0)
df['f_aws'] = df['jd1'].apply(lambda x: 1 if 'aws' in x else 0)
df['f_azure'] = df['jd1'].apply(lambda x: 1 if 'azure' in x else 0)
df['f_oracle'] = df['jd1'].apply(lambda x: 1 if 'oracle' in x else 0)

df['f_docker'] = df['jd1'].apply(lambda x: 1 if 'docker' in x else 0)
df['f_kpi'] = df['jd1'].apply(lambda x: 1 if 'kpi' in x else 0)
df['f_agile'] = df['jd1'].apply(lambda x: 1 if 'agile' in x else 0)
df['f_ch'] = df['jd1'].apply(lambda x: 1 if 'switzerland' in x else 0)

df['id_job'] = df['idjob'].str[34:60]
df['id_job'] = df['id_job'].str[1:11]
df

,Unnamed: 0,Job Title,Company,Location,Timepub,Job Details,idjob,iwc,inc,num,...,f_sas,f_hadoop,f_hive,f_aws,f_azure,f_oracle,f_docker,f_kpi,f_ch,id_job
0,0,"Data Analyst (80-100%, all genders)",Swiss International Air Lines,"Kloten, Zurich, Switzerland",1 week ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3341160822/...,415,3449,3,...,0,0,0,0,0,0,0,0,0,3341160822
1,1,Data Analyst,UBS,"Zurich, Zurich, Switzerland",2 days ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3355911801/...,837,6444,1,...,0,0,0,0,0,0,0,0,0,3355911801
2,2,Online Data Analyst,TELUS International,"Zurich, Switzerland",2 days ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3356138955/...,410,3153,1,...,0,0,0,0,0,0,0,0,1,3356138955
3,3,Data Analyst,Randstad Switzerland,"Zurich, Switzerland",1 week ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3341559697/...,385,2949,0,...,0,0,0,0,0,0,0,0,0,3341559697
4,4,"Data Analyst Versicherungstechnik (w/m/d), 80-...",Sanitas Krankenversicherung,"Zurich, Zurich, Switzerland",3 days ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3349813246/...,383,3333,3,...,0,0,0,0,0,0,0,0,0,3349813246
5,5,Data Analyst,Randstad Switzerland,"Schlatt (Zürich), Zurich, Switzerland",1 week ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3341923163/...,376,2825,0,...,0,0,0,0,0,0,0,0,0,3341923163
6,6,Data Analyst Client Analytics 80-100% #218640,Credit Suisse,"Zurich, Zurich, Switzerland",1 day ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3325428307/...,436,3223,0,...,0,0,0,0,0,0,0,0,1,3325428307
7,7,Internship - Climate Data Analyst 70-100% (6-1...,Zurich Insurance,"Zurich, Zurich, Switzerland",1 week ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3335279812/...,566,4340,0,...,0,0,0,0,0,0,0,0,0,3335279812
8,8,"Senior Data Analyst, Product Analytics",GetYourGuide,"Zurich, Zurich, Switzerland",4 days ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3318244151/...,433,3494,1,...,0,0,1,0,0,0,0,0,0,3318244151
9,9,Data Analyst in Credit Risk Review Team #214621,Credit Suisse,"Zurich, Zurich, Switzerland",2 weeks ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3314958454/...,381,2909,0,...,0,0,0,0,0,0,0,0,1,3314958454

In [9]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Company', 'Location', 'Timepub',
       'Job Details', 'idjob', 'iwc', 'inc', 'num', 'jd', 'jd1', 'und', 'der',
       'die', 'mit', 'von', 'für', 'wir', 'sum_de', 'flg_DEUTSCH', 'f_python',
       'f_r', 'f_java', 'f_javascript', 'f_bigdata', 'f_pandas', 'f_ml',
       'f_ml1', 'f_dl', 'f_algorithms', 'f_engineer', 'f_scala', 'f_tableau',
       'f_qlik', 'f_cloud', 'f_twitter', 'f_sql', 'f_mathematics',
       'f_pipelines', 'f_zurich', 'f_geneva', 'f_clinical', 'f_salesforce',
       'f_english', 'f_deutsch', 'f_german', 'f_google', 'f_programming',
       'f_entwickeln', 'f_developer', 'f_finance', 'f_fraud', 'f_credit',
       'f_bank', 'f_dashboards', 'f_excel', 'f_powerpoint', 'f_agile',
       'f_database', 'f_statistic', 'f_visualization', 'f_bachelor',
       'f_businessintelligence', 'f_insight', 'f_modeling', 'f_sas',
       'f_hadoop', 'f_hive', 'f_aws', 'f_azure', 'f_oracle', 'f_docker',
       'f_kpi', 'f_ch', 'id_job'],
      dtype='object')

### Salida de datos

In [10]:
salida=df
salida.columns

Index(['Unnamed: 0', 'Job Title', 'Company', 'Location', 'Timepub',
       'Job Details', 'idjob', 'iwc', 'inc', 'num', 'jd', 'jd1', 'und', 'der',
       'die', 'mit', 'von', 'für', 'wir', 'sum_de', 'flg_DEUTSCH', 'f_python',
       'f_r', 'f_java', 'f_javascript', 'f_bigdata', 'f_pandas', 'f_ml',
       'f_ml1', 'f_dl', 'f_algorithms', 'f_engineer', 'f_scala', 'f_tableau',
       'f_qlik', 'f_cloud', 'f_twitter', 'f_sql', 'f_mathematics',
       'f_pipelines', 'f_zurich', 'f_geneva', 'f_clinical', 'f_salesforce',
       'f_english', 'f_deutsch', 'f_german', 'f_google', 'f_programming',
       'f_entwickeln', 'f_developer', 'f_finance', 'f_fraud', 'f_credit',
       'f_bank', 'f_dashboards', 'f_excel', 'f_powerpoint', 'f_agile',
       'f_database', 'f_statistic', 'f_visualization', 'f_bachelor',
       'f_businessintelligence', 'f_insight', 'f_modeling', 'f_sas',
       'f_hadoop', 'f_hive', 'f_aws', 'f_azure', 'f_oracle', 'f_docker',
       'f_kpi', 'f_ch', 'id_job'],
      dtype='object')

In [12]:
#Genera conexion a la base de datos
#engine = create_engine('postgresql://postgres:l1u9i7s8@localhost:5432/sandbox')
#salida.to_sql('jobs_scrapped_1023', engine)
#salida.to_csv("alljobs_scrapped.csv")
salida.to_excel("alljobs_scrapped.xlsx")

In [13]:
salida

,Unnamed: 0,Job Title,Company,Location,Timepub,Job Details,idjob,iwc,inc,num,...,f_sas,f_hadoop,f_hive,f_aws,f_azure,f_oracle,f_docker,f_kpi,f_ch,id_job
0,0,"Data Analyst (80-100%, all genders)",Swiss International Air Lines,"Kloten, Zurich, Switzerland",1 week ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3341160822/...,415,3449,3,...,0,0,0,0,0,0,0,0,0,3341160822
1,1,Data Analyst,UBS,"Zurich, Zurich, Switzerland",2 days ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3355911801/...,837,6444,1,...,0,0,0,0,0,0,0,0,0,3355911801
2,2,Online Data Analyst,TELUS International,"Zurich, Switzerland",2 days ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3356138955/...,410,3153,1,...,0,0,0,0,0,0,0,0,1,3356138955
3,3,Data Analyst,Randstad Switzerland,"Zurich, Switzerland",1 week ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3341559697/...,385,2949,0,...,0,0,0,0,0,0,0,0,0,3341559697
4,4,"Data Analyst Versicherungstechnik (w/m/d), 80-...",Sanitas Krankenversicherung,"Zurich, Zurich, Switzerland",3 days ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3349813246/...,383,3333,3,...,0,0,0,0,0,0,0,0,0,3349813246
5,5,Data Analyst,Randstad Switzerland,"Schlatt (Zürich), Zurich, Switzerland",1 week ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3341923163/...,376,2825,0,...,0,0,0,0,0,0,0,0,0,3341923163
6,6,Data Analyst Client Analytics 80-100% #218640,Credit Suisse,"Zurich, Zurich, Switzerland",1 day ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3325428307/...,436,3223,0,...,0,0,0,0,0,0,0,0,1,3325428307
7,7,Internship - Climate Data Analyst 70-100% (6-1...,Zurich Insurance,"Zurich, Zurich, Switzerland",1 week ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3335279812/...,566,4340,0,...,0,0,0,0,0,0,0,0,0,3335279812
8,8,"Senior Data Analyst, Product Analytics",GetYourGuide,"Zurich, Zurich, Switzerland",4 days ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3318244151/...,433,3494,1,...,0,0,1,0,0,0,0,0,0,3318244151
9,9,Data Analyst in Credit Risk Review Team #214621,Credit Suisse,"Zurich, Zurich, Switzerland",2 weeks ago,"['\n <h2 class=""jobs-unified-description__c...",https://www.linkedin.com/jobs/view/3314958454/...,381,2909,0,...,0,0,0,0,0,0,0,0,1,3314958454