## Connect to AWS RDS PostgreSQL database

In [24]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import select

#Generates database connection
db_conn=pd.read_csv('rds_credentials.txt') #For security reasons ;-)
db_conn=db['conn'].iloc[0]
engine = create_engine(db_conn)

In [25]:
df=pd.read_sql('jrp_keywords', engine, index_col=None)

In [26]:
df.head()

   id_keyword                              keyword
0           1  solve high impact business problems
1           2                 understanding claims
2           3               portfolio optimization
3           4                 high impact projects
4           5            end-to-end responsibility

In [27]:
pd.set_option('display.max_rows', None)
# Palabras frecuentes
freq = pd.Series(' '.join(df['keyword']).split()).value_counts()[:10]
print(freq)

and     72
to      32
of      31
the     29
in      28
with    16
a       13
data    10
or      10
on      10
dtype: int64

In [34]:
sql="SELECT keyword FROM jrp_keywords WHERE id_keyword =3"
df=pd.read_sql(sql, engine, index_col=None)

In [35]:
df

                  keyword
0  portfolio optimization

In [36]:
lista=np.arange(1,27)
for tech in lista:
    insert='INSERT INTO public.jrp_company_tech(id_co, id_tech) VALUES (1, '+str(tech)+');' #don't work!
    pd.read_sql_query(sql, engine, index_col=None)